/* Centering the banner block */
.block-totara-featured-links-layout {
  width: 100%;
  max-width: 1140px;
}
.path-totara-dashboard #block-region-top .content.block-content {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Removing backgrounds */
.block_totara_featured_links.block.no-header.chromeless {
  background: transparent;
}

#region-main .block_html.block.chromeless {
  background: transparent;
}

/* Centering elements, setting max width and removing padding*/
.path-totara-dashboard .page-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-direction: column;
  width: 100%;
}
.path-totara-dashboard #region-top {
  width: 100%;
  padding: 0 !important;
  margin: 0 !important;
}

.path-totara-dashboard #region-main {
  width: 100%;
  max-width: 1150px;
  padding: 0;
}

.path-totara-dashboard #region-main .content.block-content {
  padding: 0 !important;
}
.path-totara-dashboard .page-content #region-top .content.block-content {
  padding: 0;
}

.row:has(#region-main) {
  /* Your styles for the .row */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
}
